[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "files/vim/bundle/vim-tmux"]
	path = files/vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule "files/vim/bundle/vim-tmux-navigator"]
	path = files/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "files/vim/bundle/vim-smali"]
	path = files/vim/bundle/vim-smali
	url = https://github.com/kelwin/vim-smali.git
[submodule "files/vim/bundle/vim-kolor"]
	path = files/vim/bundle/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "files/vim/bundle/vim-hybrid"]
	path = files/vim/bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "files/vim/bundle/vim-gitgutter"]
	path = files/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "files/vim/bundle/vim-fugitive"]
	path = files/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "files/vim/bundle/vim-bufferline"]
	path = files/vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "files/vim/bundle/vim-airline"]
	path = files/vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "files/vim/bundle/vim-airline-themes"]
	path = files/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "files/vim/bundle/tagbar"]
	path = files/vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "files/vim/bundle/syntastic"]
	path = files/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "files/vim/bundle/supertab"]
	path = files/vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "files/vim/bundle/seoul256.vim"]
	path = files/vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "files/vim/bundle/nerdtree"]
	path = files/vim/bundle/nerdtree
	url = https://github.com/wycats/nerdtree.git
[submodule "files/vim/bundle/jellybeans.vim"]
	path = files/vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "files/vim/bundle/gruvbox"]
	path = files/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "files/vim/bundle/base16-vim"]
	path = files/vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "files/vim/bundle/Vundle.vim"]
	path = files/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "files/tmux/plugins/tmux-continuum"]
	path = files/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "files/tmux/plugins/tmux-copycat"]
	path = files/tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "files/tmux/plugins/tmux-fpp"]
	path = files/tmux/plugins/tmux-fpp
	url = https://github.com/tmux-plugins/tmux-fpp
[submodule "files/tmux/plugins/tmux-resurrect"]
	path = files/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "files/tmux/plugins/tmux-sensible"]
	path = files/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "files/tmux/plugins/tmux-sidebar"]
	path = files/tmux/plugins/tmux-sidebar
	url = https://github.com/tmux-plugins/tmux-sidebar
	ignore = dirty
[submodule "files/tmux/plugins/tmux-urlview"]
	path = files/tmux/plugins/tmux-urlview
	url = https://github.com/tmux-plugins/tmux-urlview
[submodule "files/tmux/plugins/tpm"]
	path = files/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "files/vim/bundle/PKGBUILD.vim"]
	path = files/vim/bundle/PKGBUILD.vim
	url = https://github.com/Firef0x/PKGBUILD.vim.git
[submodule "submodules/base16-shell"]
	path = submodules/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
